{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true,
    "sinon": true,
    "expect": true
  },
  "rules": {
    // Strict mode
    "strict": [2, "global"],
    "no-undef": 2,

    // Code style
    "indent": [1, 2, { "SwitchCase": 1 }],
    "quotes": [1, "single"],
    "camelcase": 0,
    "new-cap": 0,
    "no-unused-vars": [1, { "args": "none" }],
    "no-unused-expressions": 0,
    "no-underscore-dangle": 0
  }
}
